h1 {
   font-size: 30px;
   text-align: center;
}


p{
	text-align: center;
	text-align: justify;
}

table {
	
	
}

th {
	text-align: center;
	text-align: justify;
}

td {
	text-align: center;
	text-align: justify;
}